#about {
    border-bottom: 5px solid #F4F4F4 !important;
}

.divider{
    width: 88%;
    height: 0.8px;
    background-color: rgb(150, 150, 150);
    opacity: 0.5;
    margin: 20px 0 20px 0;
}

#content {
    color: #303030;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}

#vision{
    width: 85%;
    text-align: justify;
    margin-top: 0;
}

#mission{
    width: 85%;
    text-align: justify;
}

#history{
    width: 85%;
    text-align: justify;
}


#container{
    width: 100%;
    text-align: center;
}

#findUsText{
    margin-bottom: 0;
}

#findUs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100px;
}

#findUs img{
    width: 50px;
    justify-content: space-evenly;
    transition: .5s;
}

#findUs img:hover{
    transform: translate(0,-10px);
}

#thankYou{
    padding-bottom: 5rem;
}