* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#about {
    border-bottom: 5px solid #F4F4F4 !important;
}

.divider{
    width: 95%;
    height: 0.8px;
    background-color: rgba(150, 150, 150, 0.5);
    margin: 2vw 0;
}

#content {
    color: #303030;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4vw;
}

#vision, #mission, #history{
    width: 90%;
    max-width: 1400px;
    text-align: justify;
    margin-top: 0;
}

#vision h3, #mission h3, #history h3, #container h3{
    margin: 2vw 0;
}


#container{
    width: 100%;
    max-width: 1400pxpx;
    text-align: center;
    padding: 2.5vw;
}

#image{
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    align-content: center;
}

#image img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

#aboutDescription{
    padding: 30px 0;
    text-align: justify;
}

#findUsText{
    margin-bottom: 0;
    margin-top: 2vw;
}

#findUs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100px;
}

#findUs img{
    width: 50px;
    justify-content: space-evenly;
    transition: .5s;
}

#findUs img:hover{
    transform: translate(0,-10px);
}

#thankYou{
    padding-bottom: 3vw;
}

/*      responsive        */
@media (max-width: 768px){
    #content p{
        font-size: 1.5vh;
    }

    #linkedin img, #youtube img, #instagram img, #facebook img{
        padding-left: 0;
        padding-right: 0;
        width: 6vw;
        max-width: 20vw;
    }
    #linkedin a, #youtube a, #instagram a, #facebook a{
        padding: 2vw;
    }

    #findUs{
        height: max-content;
    }

}