#cars {
    border-bottom: 5px solid #F4F4F4 !important;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
}

/* Brand Carousel */
.title{
    text-align: center;
    padding: 0;
    padding-top: 30px;
}

.brand{
    overflow: hidden;
    padding: 40px 0;
    margin: 45px 0;
    background-color: #F4F4F4;
    white-space: nowrap;
    position: relative;
    box-shadow: 0 0 20px rgba(48,48,48,0.25);
}

.brand:before, .brand:after{
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}

.brand:before{
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 40%, #f4f4f4);
}

.brand:after{
    right: 0;
    background: linear-gradient(to right, rgba(255,255,255,0) 40%, #f4f4f4);
}

.brand:hover .brandCarousel{
    animation-play-state: paused;
}

.brandCarousel{
    display: inline-block;
    white-space: nowrap;
    animation: 40s slide infinite linear;
    animation-play-state: running;
}

@keyframes slide{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.brandCarousel a{
    display: inline-block;
    padding: 0 20px;
    vertical-align: middle;
}

.brandCarousel img{
    height: 50px;
    margin: 0 40px;
}

/* Filterable - Gallery */
.subTitle{
    text-align: center;
}


.container{
    position: relative;
    max-width: 1350px;
    width: 100%;
    padding: 20px;
    padding-bottom: 75px;
    margin: 0px auto;
}

.filter{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

button{
    padding: 10px 20px;
    font-family: khyay;
    font-size: 15px;
    color: #303030;
    background: #f4f4f4;
    border: 3px solid #303030;
    border-radius: 6px;
    box-shadow: 0 0 8px rgba(48,48,48, 0.2);
    cursor: pointer;
}

button:hover{
    background-color: #cacaca;
}

button.checked{
    color: #f4f4f4;
    background: #303030;
}

.carGallery{
    display: flex;
    margin-top: 25px;
    gap: 15px;
    flex-wrap: wrap;
}

.card{
    flex-grow: 1;
    flex-basis: 300px;
    background-color: #303030;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s ease;
}

.card.hide{
    display: none;
}

.card:hover{
    transform: translate(0, -10px);
}

.card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.cardContainer{
    padding: 15px 15px 15px 0;
}

.desc{
    color: #303030;
    background-color: #f4f4f4;
    font-size: 10px;
    font-weight: 600;
    padding: 2px 8px;
}

.carName{
    font-size: 20px;
    color: #F4F4F4;
    padding: 5px 0 0 0;
}

.carBrand{
    font-size: 15px;
    color: #F4F4F4;
}

.carPrice{
    font-size: 12px;
    color: #cacaca;
}