#home {
    border-bottom: 5px solid #F4F4F4 !important;
}

/* CONTENT */
#title{
    margin-top: 50px;
    font-weight: 600;
    text-align: center;
    font-size: 50px;
    color: #303030;
    filter: drop-shadow(500px 5px 5px 5px #AAAAAA);
}

/* Slider Featured Cars */
#sliderCars {
    display: flex;
    justify-content: center;
    align-items: center;
}

#carsImage{
    width: 700px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#carsImage img{
    width: inherit;
    object-fit: cover;
}

#carsName {
    color: #303030;
    text-align: center;
    font-weight: 700;
}

#featuredText{
    text-align: center;
    font-size: 35px;
    color: #303030;
}

#sliderText{
    margin-bottom: 15px;
}

/* ----  */
#scrollDown{
   width: 35px;
   margin: 20px 0 20px 0;
}

#icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

#tagline{
    color: #303030;
    position: absolute;
    top: 500px;
    right: 5.5rem;
    font-size: 30px;
    width: 250px;
    text-align: left;
}

/* Cars Gallery */

#carGallery{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    align-content: space-evenly;
    margin-bottom: 5rem;
}

#galleryTitle{
    font-size: 30px;
    color: #303030;
    margin-left: 5.5rem;
    margin-bottom: 1rem;
}

.gallery {
    width: 390px;
    height: 400px;
    background-color: #303030;
    position: relative;
}

.toptierImage {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 350px;
}

#toptierName {
    position: absolute;
    color: white;
    font-size: 30px;
    top: 250px;
    left: 20px;
}

#toptierBrand {
    position: absolute;
    color: white;
    top: 290px;
    left: 20px;
}

#toptierPrice {
    position: absolute;
    color: white;
    top: 320px;
    right: 20px;
}

#learnMore{
    border: 2px solid white;
    position: absolute;
    color: white;
    padding: 5px 5px 2px 5px;
    top: 348px;
    right: 20px;
}