#home {
    border-bottom: 5px solid #F4F4F4 !important;
}

html{
    scroll-behavior: smooth;
}


/* CONTENT */
#content{
    padding: 50px;
}

#title{
    font-weight: 600;
    text-align: center;
    font-size: 50px;
    color: #303030;
    filter: drop-shadow(500px 5px 5px 5px #AAAAAA);
}

/* Slider Featured Cars */
#sliderCars {
    display: flex;
    justify-content: center;
    align-items: center;
}

#carsImage{
    width: 700px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#carsImage img{
    width: inherit;
    object-fit: cover;
}

#carsName {
    color: #303030;
    text-align: center;
    font-weight: 700;
}

#featuredText{
    text-align: center;
    font-size: 35px;
    color: #303030;
}

#sliderText{
    margin-bottom: 15px;
}

/* ----  */
#scrollDown{
    width: 35px; 
}

#icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

#tagline{
    color: #F4F4F4;
    background-color: #303030;
    padding: 5px;
    position: absolute;
    top: 610px;
    right: 0;
    font-size: 1.5rem;
    /* width: 250px; */
}

/* Cars Gallery */

#carGallery{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    align-content: space-evenly;
    margin-bottom: 4rem;
}

#galleryTitle{
    font-size: 30px;
    color: #303030;
    margin-left: 5.5rem;
    margin-bottom: 1rem;
}

.gallery {
    width: 390px;
    height: 400px;
    background-color: #303030;
    position: relative;
}

.toptierImage {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 350px;
}

#toptierName {
    position: absolute;
    color: white;
    font-size: 30px;
    top: 250px;
    left: 20px;
}

#toptierBrand {
    position: absolute;
    color: white;
    top: 290px;
    left: 20px;
}

#toptierPrice {
    position: absolute;
    color: #cacaca;
    top: 320px;
    right: 20px;
}

#learnMore{
    border: 2px solid #cacaca;
    position: absolute;
    color: #cacaca;
    padding: 5px 5px 2px 5px;
    top: 348px;
    right: 20px;
}

#learnMore:hover{
    color: white;
    border-color: white;
}