* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#login {
    border-bottom: 5px solid #F4F4F4 !important;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

#title{
    font-family: khyay;
    font-weight: 600;
    text-align: center;
    font-size: 50px;
    color: #303030;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#loginForm{
    width: 500px;
}

label {
    padding-top: 1px;
    font-weight: 500;
}

.input{
    margin: 10px 0;
}

.box{
    width: 500px;
    height: 30px;
    border-style: inset;
    border-width: 2px;
    border-radius: 7px;
    border-color: #303030;
    font-size: 14px;
    margin: 0;
    padding: 0 10px;
    margin-bottom: 10px;
}

#phoneNumberBox{
    display: flex;
    width: 500px;
}

#phoneNumberPrefix {
    background-color: white;
    width: fit-content !important;
    height: 30px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 500;
    padding-top: 2.5px;
}

.show{
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
    color: #3030307b;
    margin-bottom: 10px;
}

.show:hover{
    color: #303030;
}

#check{
    font-size: 12px;
    display: flex;
    align-items: center;
}

#submit{
    color: white;
    width: 80px;
    height: 35px;
    border-width: 0;
    border-radius: 7px;
    background-color: black;
    cursor: pointer;
    background: #303030;
}

#submit:hover{
    background-color: rgb(62, 62, 62);
}

#errors{
    background-color: rgba(255, 0, 0, 0.150);
    color: darkred;
    border-left-style: inset;
    border-color: darkred;
    border-width: 3.5px;
    padding: 0 15px;
    font-size: 12px;
    margin-bottom: 10px;
}

::placeholder{
    font-family: khyay;
    font-size: 13px;
}

#agreement{
    margin-right: 3px;
}

/* Responsive */
@media (max-width: 768px){
    #title {
        font-size: 40px;
    }

    #loginForm {
        width: 100%;
        max-width: 300px;
    }

    .box {
        width: 100%;
    }

    #phoneNumber.box {
        width: 50%;
    }
}
