*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#showroom {
    border-bottom: 5px solid #F4F4F4 !important;
}

#jumbotron{
    top: 0;
    height: 500px;
    background-image: url(../assets/jumbotron.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#jumbotron p{
    margin-bottom: 10px;
}

#container{
    color: #F4F4F4;
    padding: 0 5rem 0 5rem;
}

#container a{
    padding: 0;
}

#explore{
    border: none;
    box-shadow: none;
    color: #303030;
    background-color: #F4F4F4;
    width: 170px;
    padding: 13px;
    text-align: center;
    font-family: khyay;
    font-weight: 600;
    scroll-behavior: smooth;
    cursor: pointer;
    transition: 0.3s ease-out;
}

#explore:hover{
    background-color: #cacaca;
}

#subContent{
    padding: 50px;
}

/*      CAROUSEL      */
.carousel-title{
    margin: 0;
    padding-top: 2rem;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;
}

.subTitle{
    text-align: center;
}

.carouselWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vw auto;
}

#prev, #next{
    width: 35px;
    cursor: pointer;
    margin: 10px;
    opacity: 0.4;
    transition: opacity 0.3s;
}

#prev:hover, #next:hover{
    opacity: 1;
}

.carousel{
    width: 900px;
    display: flex;
    overflow-x: scroll;
}

.carousel .carouselContainer{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;
    flex: none;

}

.carousel .carouselContainer .imageBox img{
    width: 100%;
    filter: grayscale(100%);
    transition: 0.3s;
}

.carousel::-webkit-scrollbar{
    display: none;
}

.carousel .carouselContainer .imageBox img:hover{
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.1);
}



/*      gallery      */
.gallery-title{
    margin: 0;
    padding: 2rem 0 1rem 0;
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}

.gallery{
    position: relative;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery .gallery-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 10px;
}

.gallery .gallery-container .gallery-img{
    height: 350px;
    width: 350px;
    border: 5px solid #f4f4f4;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    cursor: pointer;
    overflow: hidden;
}

.gallery .gallery-container .gallery-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: 0.2s linear;
    transition: 0.2s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery .gallery-container .gallery-img:hover img{
    transform: scale(1.1);
}

.gallery .gallery-popup{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}

.gallery .gallery-popup span{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    font-weight: lighter;
    color: #f4f4f4;
    cursor: pointer;
    z-index: 5000;
}

.gallery .gallery-popup img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #f4f4f4;
    object-fit: cover;
}

/*      responsive        */

@media (max-width: 768px) {
    .gallery .gallery-popup img{
        width: 65%;
    }

    .gallery .gallery-container {
        flex-direction: column;
        align-items: center;
    }
    
    .gallery .gallery-container .gallery-img {
        width: 70%;
        max-width: 70%; 
        height: auto;
        margin-bottom: 0px;
    }
    .gallery .gallery-container .gallery-img img {
        object-fit: cover;
    }

    #prev, #next{
        width: 30px;
    }
}