#showroom {
    border-bottom: 5px solid #F4F4F4 !important;
}

html{
    scroll-behavior: smooth;
}

#jumbotron{
    top: 0;
    height: 500px;
    background-image: url(../assets/jumbotron.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    color: #F4F4F4;
    padding: 0 5rem 0 5rem;
}

#container a{
    padding: 0;
}

#explore{
    border: none;
    box-shadow: none;
    color: #303030;
    background-color: #F4F4F4;
    width: 170px;
    padding: 13px;
    text-align: center;
    font-family: khyay;
    font-weight: 600;
    scroll-behavior: smooth;
    cursor: pointer;
    transition: 0.3s ease-out;
}

#explore:hover{
    background-color: #cacaca;
}

#subContent{
    padding: 50px;
}

/*      CAROUSEL      */

.carousel{
    position: relative;
    overflow: hidden;
    padding: 50px;
}

.carousel-title{
    margin: 0;
    padding-left: 2rem;
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;
}

.carousel-container{
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    margin: 0 3rem;
    padding: 0;
    transition: scroll-left 1s ease-out;
}

.carousel-container::-webkit-scrollbar{
    display: none;
}

.carousel-card{
    flex: 0 0 auto;
    width: 280px;
    height: 300px;
    margin-right: 40px;
}

.carousel-img{
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
 }

.prev, .next{
    width: 65px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    z-index: 8;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 1rem;
    background: none;
}

.prev{
    left: 0;
}

.next{
    right: 0;
}

.prev img, .next img{
    opacity: 0.4;
    transition: opacity 0.3s;
}

.prev:hover img, .next:hover img{
    opacity: 1;
}

.carousel-radio {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.carousel-radio input[type="radio"] {
    display: none;
}

.carousel-radio label {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ddd;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-out;
}

.carousel-radio label:hover {
    background-color: #eee;
}

.carousel-radio input[type="radio"]:checked + label {
    background-color: #333;
}

/*      gallery      */
.gallery-title{
    margin: 0;
    padding: 4rem 0 2rem 0;
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}

.gallery{
    position: relative;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery .gallery-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 10px;
}

.gallery .gallery-container .gallery-img{
    height: 250px;
    width: 350px;
    border: 5px solid #f4f4f4;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    cursor: pointer;
    overflow: hidden;
}

.gallery .gallery-container .gallery-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: 0.2s linear;
    transition: 0.2s ease-out;
}

.gallery .gallery-container .gallery-img:hover img{
    transform: scale(1.1);
}

.gallery .gallery-popup{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}


.gallery .gallery-popup span{
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 30px;
    font-weight: lighter;
    color: #f4f4f4;
    cursor: pointer;
    z-index: 100;
}

.gallery .gallery-popup img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #f4f4f4;
    /* width: 750px; */
    object-fit: cover;
}

/*      responsive        */
@media (max-width: 768px){
    .gallery .gallery-popup img{
        width: 65%;
    }
}